@use './nullstile.scss';

/* Конфигурацыя станицы */

/* Шрифты */
$font-family-IBM: 'IBM Plex Mono';
$font-family-Inter: 'Inter';
$font-family-EB: 'EB Garamond';

/* Размер шрифта */
$global-font-size: 12px;

/* Цвет шрифта */
$global-font-color: #000000;
$global-font-weight: 400;

/* Меню бургер */
.open {
	display: flex !important;
}

/* Модельное окно открытие */
.modal.show {
	visibility: visible;
	z-index: 1000;
	opacity: 1;
}

/* Конфигурацыя модельного окна! */
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	.modal_window {
		position: relative;
		z-index: 2;
		transform: scale(1.7);
		.btn-close {
			position: absolute;
			background: none;
			border: none;
			font-size: 20px;
			top: 5px;
			right: 1px;
			cursor: pointer;
		}
	}
	/*Затемнение оверлей*/
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}
}
/* Класс с анимацыей подчеркивания текста */
.animation-link {
	a {
		text-decoration: none;
		position: relative;
	}
	& a::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: grey;
		transition: all 0.3s ease-in-out;
		transform: scale(0);
	}
	& a:hover:before {
		transform: scale(1);
	}
}

/* Конфигурация страницы */
body {
	font-family: $font-family-EB;
	font-size: $global-font-size;
	color: $global-font-color;
	font-weight: $global-font-weight;
}

.bundle {
	height: 30px;
	background-color: #383230;
	display: flex;
	justify-content: center;

	&__conteiner {
		display: flex;
		justify-content: space-between;
		width: 1100px;
		align-items: center;

		&__conteiner-item {
			a {
				padding-right: 20px;
			}
		}
		a {
			text-decoration: none;
			font-family: $font-family-IBM;
			font-weight: 400;
			font-size: 11px;
			color: #ffffff;
		}
	}
}

header {
	display: flex;
	justify-content: center;
	height: 61px;

	.header__conteiner {
		width: 1100px;
		font-size: 12px;
		font-weight: 400;
		color: #383230;
		font-family: $font-family-Inter;
		line-height: 12px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		align-items: center;
		position: relative;

		&-list {
			display: flex;
			&-input {
				display: none;
				position: absolute;
				bottom: 0;
				right: 0px;
			}
			.padding-sign-menu {
				padding-right: 23px;
			}
			a {
				display: block;
				text-decoration: none;
				color: #383230;
			}
		}
		&-burger-menu {
			display: none;
			position: relative;
			z-index: 50;
			align-items: center;
			justify-content: flex-end;
			width: 30px;
			height: 18px;
			span {
				height: 2px;
				width: 60%;
				transform: scale(1);
				background-color: gray;
			}
			&::before,
			&::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 90%;
				background-color: grey;
				transition: all 0.3s ease-in-out;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			&.active span {
				transform: scale(0);
			}
			&.active::before {
				top: 50%;
				transform: rotate(-45deg) translate(0, -50%);
			}
			&.active::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0, 50%);
			}
		}
		&-nav {
			display: flex;
			align-items: center;
			li {
				margin: 0px 0px 0px 20px;
				a {
					text-decoration: none;
				}
				display: inline;
			}
		}
		@media (max-width: 900px) {
			.header__conteiner-burger-menu {
				display: flex;
			}
			.header__conteiner-nav {
				display: none;
				flex-direction: column;
				position: fixed;
				text-decoration: none;
				height: 100%;
				width: 100%;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 50;
				overflow-y: auto;
				padding: 50px 40px;
				background-color: black;
				animation: burgerAnimation;
				a {
					color: white;
					padding: 5px;
				}
			}

			.header__conteiner-nav ul {
				flex-direction: column;
				row-gap: 30px;
				li {
					display: block;
					font-size: 20px;
					padding-top: 30px;
				}
			}
		}
	}
	@keyframes burgerAnimation {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

.main__title-image {
	font-weight: 400;
	background-color: #f9f7f4;
	.main__title-title {
		h1 {
			text-align: center;
			font-family: $font-family-EB;
			font-size: 48px;
			line-height: 76px;
			font-weight: 400;
			padding-top: 30px;
		}
	}

	.main__title-scroll-menu {
		.slick-dots {
			display: flex;
			position: absolute;
			width: 52%;
			top: 0;
			right: 0;
			margin: 0 auto;
			li {
				margin: 0px 5px;
			}
			button {
				font-size: 0;
				width: 30%;
				height: 60%;
				border: none;
				background-color: rgba(255, 255, 255, 0.5);
				border-radius: 50%;
			}
			.slick-active button {
				background-color: rgba(255, 255, 255, 1);
			}
		}
		.slider {
			position: relative;
			.slider__item {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

.learn-more__title {
	text-align: center;
	&-text {
		padding-top: 78px;
		p {
			font-size: 34px;
		}
	}
	&-button {
		padding-top: 43px;
		a {
			text-decoration: none;
			font-size: 18px;
			color: #000000;
		}
	}
}

.brend__list {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;
	background-color: #f9f7f4;
	align-items: center;
	margin-top: 80px;
	ul {
		display: flex;
		li {
			padding-left: 50px;
		}
	}
}

.card__main {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	&-conteiner {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	h2 {
		font-size: 25px;
		line-height: 33.6px;
		font-weight: 400;
	}
	p {
		font-size: 18px;
	}
}

.shop__card {
	display: flex;
	justify-content: center;
	min-width: 0;
	padding-top: 118px;

	.shop__card-conteiner {
		width: 80%;
		height: auto;
		display: flex;
		justify-content: space-between;

		overflow: hidden;
	}
	&-title {
		width: 40%;
		height: auto;
		h2 {
			font-family: $font-family-EB;
			font-weight: 400;
			font-size: 36px;
			line-height: 57px;
			letter-spacing: 2.4px;
		}

		p {
			font-family: $font-family-Inter;
			font-weight: 400;
			font-size: 15px;
			line-height: 25px;
		}

		.shop__card-button {
			padding-top: 30px;
			a {
				text-decoration: none;
				font-family: $font-family-Inter;
				font-size: 13px;
				line-height: 14px;
				color: #000000;
				padding: 12px 16px 16px 16px;
				border: 1px solid #000000;
			}
		}
	}
	&-slider {
		width: 57.7%;
		position: relative;
		.shop__card-slider-item {
			margin-left: 5px;
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 10;
			background: none;
			border: none;
			font-size: 0;
			width: 30px;
			height: 20px;
		}
		.slick-arrow.slick-prev {
			left: 0;
			background: url(../src/img/caret-left.png) 0 0 no-repeat;
			transform: translateY(-50%);
		}
		.slick-arrow.slick-next {
			right: 0;
			background: url(../src/img/caret-right.png) no-repeat;
			transform: translateY(-50%);
		}
	}
	&-cart {
		width: 289px;
		height: 100%;
		.shop__card-cart-title {
			padding: 14px 0px 0px 17px;
			border: 1px solid #e0dbd2;
			h2 {
				font-weight: 400;
				font-size: 19px;
			}
			p {
				color: #8c8c8c;
				font-size: 17px;
				padding: 5px 0px 10px 0px;
			}
			h3 {
				font-size: 13px;
				font-family: $font-family-IBM;
			}
			span {
				color: #383230;
				font-family: $font-family-Inter;
				font-size: 12px;
			}
			.shop_card-cart-price {
				display: flex;
				h3 {
					padding: 0px 10px 0px 0px;
				}
			}
		}
		.cart-image {
			position: relative;

			&:hover {
				.shop__card-quick-button {
					opacity: 1;
				}
			}
			.main-image {
				width: 100%;
				height: auto;
			}

			.shop__card-quick-button {
				display: flex;
				justify-content: center;
				font-size: 18px;
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				margin: 0 auto;
				width: 257px;
				border: 1px solid black;
				background-color: #ffffff;
				cursor: pointer;
				opacity: 0;
				transition: all 0.6s ease-in-out;
				a {
					text-decoration: none;
					color: #000000;
				}
			}
			.shop__card-new {
				position: absolute;
				top: 8px;
				left: 5px;
				background-color: #fff;
				font-size: 15px;
				padding: 2px;
				border-radius: 3px;
			}
			&:hover {
				.shop__card-quick-button {
					display: flex;
				}
			}
		}
	}
}
