@charset "UTF-8";
/** Нормализация блочной модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы слева тегам списков, у которых есть атрибут class */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/*Убираем внешние отступы body и двум другим тегам, у которых есть атрибут class*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**Убираем внешние отступы вертикали нужным тегам, у которых есть атрибутclass*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/* Убираем стандартный маркер маркированному списку,у которого есть атрибут class */
:where(ul[class]) {
  list-style: none;
}

/*
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/*
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
}

/* Наследуем свойства шрифт для полей ввода */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /*
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /* Плавный скролл */
  scroll-behavior: smooth;
}

body {
  /*
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /* Унифицированный интерлиньяж */
  line-height: 1.5;
}

/* Приводим к единому цвету svg-элементы */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/* Чиним баг задержки смены цвета при взаимодействии с svg-элементами */
svg * {
  transition-property: fill, stroke;
}

/* Удаляем все анимации и переходы для людей, которым они и нахуй не нужны */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Конфигурацыя станицы */
/* Шрифты */
/* Размер шрифта */
/* Цвет шрифта */
/* Меню бургер */
.open {
  display: flex !important;
}

/* Модельное окно открытие */
.modal.show {
  visibility: visible;
  z-index: 1000;
  opacity: 1;
}

/* Конфигурацыя модельного окна! */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  /*Затемнение оверлей*/
}
.modal .modal_window {
  position: relative;
  z-index: 2;
  transform: scale(1.7);
}
.modal .modal_window .btn-close {
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  top: 5px;
  right: 1px;
  cursor: pointer;
}
.modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* Класс с анимацыей подчеркивания текста */
.animation-link a {
  text-decoration: none;
  position: relative;
}
.animation-link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: grey;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.animation-link a:hover:before {
  transform: scale(1);
}

/* Конфигурация страницы */
body {
  font-family: "EB Garamond";
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}

.bundle {
  height: 30px;
  background-color: #383230;
  display: flex;
  justify-content: center;
}
.bundle__conteiner {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  align-items: center;
}
.bundle__conteiner__conteiner-item a {
  padding-right: 20px;
}
.bundle__conteiner a {
  text-decoration: none;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 11px;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  height: 61px;
}
header .header__conteiner {
  width: 1100px;
  font-size: 12px;
  font-weight: 400;
  color: #383230;
  font-family: "Inter";
  line-height: 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
}
header .header__conteiner-list {
  display: flex;
}
header .header__conteiner-list-input {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0px;
}
header .header__conteiner-list .padding-sign-menu {
  padding-right: 23px;
}
header .header__conteiner-list a {
  display: block;
  text-decoration: none;
  color: #383230;
}
header .header__conteiner-burger-menu {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
header .header__conteiner-burger-menu span {
  height: 2px;
  width: 60%;
  transform: scale(1);
  background-color: gray;
}
header .header__conteiner-burger-menu::before, header .header__conteiner-burger-menu::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 90%;
  background-color: grey;
  transition: all 0.3s ease-in-out;
}
header .header__conteiner-burger-menu::before {
  top: 0;
}
header .header__conteiner-burger-menu::after {
  bottom: 0;
}
header .header__conteiner-burger-menu.active span {
  transform: scale(0);
}
header .header__conteiner-burger-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
header .header__conteiner-burger-menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
header .header__conteiner-nav {
  display: flex;
  align-items: center;
}
header .header__conteiner-nav li {
  margin: 0px 0px 0px 20px;
  display: inline;
}
header .header__conteiner-nav li a {
  text-decoration: none;
}
@media (max-width: 900px) {
  header .header__conteiner .header__conteiner-burger-menu {
    display: flex;
  }
  header .header__conteiner .header__conteiner-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    text-decoration: none;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
    animation: burgerAnimation;
  }
  header .header__conteiner .header__conteiner-nav a {
    color: white;
    padding: 5px;
  }
  header .header__conteiner .header__conteiner-nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
  header .header__conteiner .header__conteiner-nav ul li {
    display: block;
    font-size: 20px;
    padding-top: 30px;
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main__title-image {
  font-weight: 400;
  background-color: #f9f7f4;
}
.main__title-image .main__title-title h1 {
  text-align: center;
  font-family: "EB Garamond";
  font-size: 48px;
  line-height: 76px;
  font-weight: 400;
  padding-top: 30px;
}
.main__title-image .main__title-scroll-menu .slick-dots {
  display: flex;
  position: absolute;
  width: 52%;
  top: 0;
  right: 0;
  margin: 0 auto;
}
.main__title-image .main__title-scroll-menu .slick-dots li {
  margin: 0px 5px;
}
.main__title-image .main__title-scroll-menu .slick-dots button {
  font-size: 0;
  width: 30%;
  height: 60%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.main__title-image .main__title-scroll-menu .slick-dots .slick-active button {
  background-color: rgb(255, 255, 255);
}
.main__title-image .main__title-scroll-menu .slider {
  position: relative;
}
.main__title-image .main__title-scroll-menu .slider .slider__item img {
  width: 100%;
  height: auto;
}

.learn-more__title {
  text-align: center;
}
.learn-more__title-text {
  padding-top: 78px;
}
.learn-more__title-text p {
  font-size: 34px;
}
.learn-more__title-button {
  padding-top: 43px;
}
.learn-more__title-button a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
}

.brend__list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #f9f7f4;
  align-items: center;
  margin-top: 80px;
}
.brend__list ul {
  display: flex;
}
.brend__list ul li {
  padding-left: 50px;
}

.card__main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.card__main-conteiner {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.card__main h2 {
  font-size: 25px;
  line-height: 33.6px;
  font-weight: 400;
}
.card__main p {
  font-size: 18px;
}

.shop__card {
  display: flex;
  justify-content: center;
  min-width: 0;
  padding-top: 118px;
}
.shop__card .shop__card-conteiner {
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
}
.shop__card .shop__card-conteiner .shop__card-conteiner-title {
  display: flex;
}
.shop__card-title {
  height: auto;
}
.shop__card-title h2 {
  font-family: "EB Garamond";
  font-weight: 400;
  font-size: 36px;
  line-height: 57px;
  letter-spacing: 2.4px;
  transition: all 0.3s ease-in-out;
}
.shop__card-title p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.shop__card-title .shop__card-button {
  padding-top: 30px;
}
.shop__card-title .shop__card-button a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 13px;
  line-height: 14px;
  color: #000000;
  padding: 12px 16px 16px 16px;
  border: 1px solid #000000;
  transition: all 0.3s ease-in-out;
}
.shop__card-title .shop__card-button a:hover {
  background-color: #b28263;
  color: white;
  border: 1px solid white;
}
.shop__card-slider {
  width: 880px;
  position: relative;
}
.shop__card-slider .shop__card-slider-item {
  margin-left: 5px;
}
.shop__card-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  background: none;
  border: none;
  font-size: 0;
  width: 30px;
  height: 20px;
}
.shop__card-slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../src/img/caret-left.png) 0 0 no-repeat;
  transform: translateY(-50%);
}
.shop__card-slider .slick-arrow.slick-next {
  right: 0;
  background: url(../src/img/caret-right.png) no-repeat;
  transform: translateY(-50%);
}
.shop__card-cart {
  width: 289px;
}
.shop__card-cart .shop__card-cart-title {
  padding: 14px 0px 0px 17px;
  border: 1px solid #e0dbd2;
  width: 289px;
  height: 177px;
}
.shop__card-cart .shop__card-cart-title h2 {
  font-weight: 400;
  font-size: 19px;
}
.shop__card-cart .shop__card-cart-title p {
  color: #8c8c8c;
  font-size: 17px;
  padding: 5px 0px 10px 0px;
}
.shop__card-cart .shop__card-cart-title h3 {
  font-size: 13px;
  font-family: "IBM Plex Mono";
}
.shop__card-cart .shop__card-cart-title span {
  color: #383230;
  font-family: "Inter";
  font-size: 12px;
}
.shop__card-cart .shop__card-cart-title .shop_card-cart-price {
  display: flex;
}
.shop__card-cart .shop__card-cart-title .shop_card-cart-price h3 {
  padding: 0px 10px 0px 0px;
}
.shop__card-cart .cart-image {
  position: relative;
}
.shop__card-cart .cart-image:hover .shop__card-quick-button {
  opacity: 1;
}
.shop__card-cart .cart-image .main-image {
  width: 100%;
  height: auto;
}
.shop__card-cart .cart-image .shop__card-quick-button {
  display: flex;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 257px;
  border: 1px solid black;
  background-color: #ffffff;
  cursor: pointer;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.shop__card-cart .cart-image .shop__card-quick-button a {
  text-decoration: none;
  color: #000000;
}
.shop__card-cart .cart-image .shop__card-new {
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: #fff;
  font-size: 15px;
  padding: 2px;
  border-radius: 3px;
}
.shop__card-cart .cart-image:hover .shop__card-quick-button {
  display: flex;
}
@media (max-width: 800px) {
  .shop__card .shop__card-title {
    text-align: center;
  }
  .shop__card .shop__card-conteiner {
    flex-direction: column;
  }
}

.liner {
  padding-top: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.liner img {
  padding: 10px;
}
.liner .line {
  width: 600px;
  height: 2px;
  background-color: black;
}

.catalog__conteiner {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.catalog__conteiner .catalog {
  width: 1300px;
  height: 900px;
}
.catalog__conteiner .catalog .catalog__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog__conteiner .catalog .catalog__title h2 {
  font-size: 35px;
  font-weight: 400;
}
.catalog__conteiner .catalog .catalog__title h3 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.catalog__conteiner .catalog .catalog__title .catalog__title-button-block {
  padding: 15px;
  border: 1px solid black;
  margin-right: 30px;
  transition: all 0.6s ease;
}
.catalog__conteiner .catalog .catalog__title .catalog__title-button-block:hover {
  background-color: #b28263;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.catalog__conteiner .catalog .catalog__title .catalog__title-button-block:hover a {
  color: white;
}
.catalog__conteiner .catalog .catalog__title .catalog__title-button-block a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}
.catalog__conteiner .catalog .catalog__galery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog__conteiner .catalog .catalog__galery .catolog__more-img {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: auto;
}
.catalog__conteiner .catalog .catalog__galery .catolog__more-img .padding_cart {
  margin: 30px;
}/*# sourceMappingURL=style.css.map */